includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - src
        - database/factories
        - tests/Fixtures
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            identifier: missingType.generics
            path: src/Models/Report.php
        -
            identifier: missingType.generics
            path: src/Models/Decision.php
